@import "common";

header {
  height: 5em;
  background-color: $primary-color;
}

.action {
  height: 13em;
  .action-button {
    margin: 0 auto;
    margin-top: 7em;
  }
}

.meteor {
  height: 9em;
  background-color: $primary-color;

  h2 {
    color: $primary-color-text;
    text-align: center;
    font-weight: normal;
    margin-top: 3em;
  }

  p {
    color: $primary-color-text;
    text-align: center;
    opacity: 0.7;
  }
}

.books {
  height: 9em;
}

footer {
  height: 5em;
  background-color: #212121;
}
