@import "common";

header {
  height: 5em;
  background-color: $primary-color;
}

.action {
  height: 13em;
  .action-button {
    margin: 0 auto;
    margin-top: 7em;
  }
}

.meteor {
  background-color: $primary-color;

  h2 {
    color: $primary-color-text;
    text-align: center;
    font-weight: normal;
    margin-top: 2em;
  }

  p {
    color: $primary-color-text;
    text-align: center;
    opacity: 0.8;
  }
  
  a.visit-meteor {
    display: block;
    width: 6em;
    margin: 1.5em auto;
    padding: 0.8em;
    text-align: center;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    font-size: 0.8em;
    color: $primary-color-text;
    background-color: $primary-color-dark;
  }
}

.books {
  height: 9em;
}

footer {
  height: 5em;
  background-color: #212121;
}
